@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 6
   Coding Challenge 1
   
   Author:   Sean Arcaya 
   Date:     11/3/2025
   Filename: code6-1_table.css

*/

table {
   border: 20px groove gray;
   border-collapse: collapse;
}

th, td {

   border: 1px solid gray;
   padding: 5px;
   vertical-align: top;
   text-align: left;

}

caption {
   caption-side: top;
   text-align: left;
   font-size: 1.5em;
}

#firstCol {
   background-color: yellow;
   width: 150px;
}

#hourCols{
   width: 75px;
}

thead {
   background-color: aqua;
}
