@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 8
   Coding Challenge 1

   Author:   Sean Arcaya 
   Date:     11/22/2025
   Filename: code8-1_video.css

*/



video {
   display: block;
   width: 75%;
   margin: 10px auto;
}

