@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 7
   Coding Challenge 3

   Author:  Sean Arcaya
   Date:    11/10/2025
   
   Filename: code7-3_valid.css

*/


input:focus select:focus{
   background-color: yellow;
}

input:invalid {
   color: red;
   border: 1px solid red;
   box-shadow: 0 0 5px red;
}